/*RESETS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}


html,body{
	scroll-behavior: smooth;
	scroll-padding-top: 80px; /* replace adding positive padding and negative margin */
    
}

*,
*::before,
*::after{
    box-sizing: border-box;
}



:root{
    /* font-family: 'Fira Sans', sans-serif; */
	font-family: 'Inter', sans-serif;
    font-size: 1.18rem;
    --fw-super-light: 100;
    --fw-light:300;
    --fw-main: 400;
    --fw-bold: 700;

	--clr-main-white: #ffffff;
	--clr-red-ascent: #9A031E;
	--clr-smooky-dark: #0a0401;
	--clr-light-blue: #0F4C5C;
    --clr-orange-detail: #E56C10;
    --top-spacing: 80px;
}

/* This proyect was thought and developed from the methodology of "Mobile first" */



/* NAVBAR AND CONTAINER */ 

.navbar{
    background-color: var(--clr-smooky-dark);
    height: var(--top-spacing);
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:999;

    border-bottom: 1px solid gray;
}

.navbar__container{
    display: flex;
    justify-content: space-evenly;
    height: var(--top-spacing);
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    
}

/* """" LOGO""" */

.logo{
    color: var(--clr-main-white);
    font-family: 'Fira Sans', sans-serif;
    font-weight: var(--fw-main);
    display: flex;
    align-items: center;
    height: var(--top-spacing);
    letter-spacing: 8px;
    cursor:default;
    font-size: 1.5rem;
    min-width: 430px;
}

.logo::after{
    content: '}';
    color: var(--clr-orange-detail);

}

.logo::before{
    content:'{';
    color: var(--clr-orange-detail);
}

/* NAVBAR MENU*/

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    
}

.navbar__item{
    height: var(--top-spacing);
    margin-left: 0 10px;
}

.navbar__links{
    color: var(--clr-main-white);
    font-weight: var(--fw-bold); 
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration:none;
    height: 100%;
    width: 125px;
    padding: 0 1rem;
    text-transform: uppercase;
    font-size: 0.85rem;


}

/* LINE EFFECT + COLOR EFFECT */
.fancy-link{
    background-image: linear-gradient(90deg,var(--clr-orange-detail),var(--clr-red-ascent));
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: all 300ms ease;
}


.fancy-link:focus-visible,
.fancy-link:hover,
.fancy-link:target{ 
    background-size: 100% 2px;
    color: var(--clr-red-ascent);
}

.active-link{
    color: var(--clr-red-ascent);
}



/* WELCOME SECTION*/

#welcome-section {

    padding-top: var(--top-spacing);
    background: linear-gradient(180deg, var(--clr-light-blue) 0%, var(--clr-smooky-dark) 80%);
    
}

.welcome-container{
    min-height: 100vh;
    
    margin: 0 auto;
    max-width: 1300px;
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    align-content: center;
    align-items: center;

}

/* PROFILE PIC */
.meFoto{
    max-width: 500px;
    height: auto;
    border-radius: 50%;
}

.meDesc{
    
    height:auto;  
    text-align: left;
    color:var(--clr-main-white);
  
}

.meDesc > h1{
    font-family: 'Fira Sans', sans-serif;
    font-weight: var(--fw-bold);
    text-indent: -3px;
    font-size: 4rem;
    
    
}

.meDesc > span {
    
    font-weight: var(--fw-light);
    letter-spacing: 5px;
    font-size: 2rem;
}

.meDesc > span:last-of-type{
    font-weight: var(--fw-main);
    color: var(--clr-orange-detail);
    line-height: inherit;  
}

@media (max-width:930px){
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: var(--top-spacing);
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -500px; 
        opacity: 1;
        transition: all 0.5s ease-in-out;
        z-index: -1;

    }

    .navbar__menu.active{
        background: var(--clr-smooky-dark);
        top: 100%;
        opacity: 1;
        transition: all ease 0.5s ease-in-out;
        z-index: 99;
        
        font-size: 1.5rem;
    }

    .logo {
        padding-left: 1.5rem;
    }
    /* Menu icon = hamburger (number of child 1) */ 
    .navbar__toogle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: var(--clr-main-white);
        /* We can see it now */
        display: block;
        
    }

    .navbar__item{
        width: 100% ;
    }

    .navbar__links{
        text-align: center;
        padding: 1.5rem;
        width: 100%;
        display: table;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 7%;
        transform: translate(5%,20%);
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }



    /* WELCOME SECTION */
    
    .welcome-container{
        justify-content: center;
        
    }

    .meFoto{
        order: -1;
    }

}






/* BUTTONS */

.buttons{
    display: flex;
}
.btn,.icon {background-image: linear-gradient(to right, var(--clr-smooky-dark) 0%, var(--clr-light-blue)  51%, var(--clr-smooky-dark)  100%)}

.btn,
.icon {
    margin: 24px 0 0;
    margin-right: 25px;
    padding: 5px 10px;
    height: 60px;
    text-align: center;
    
    
    transition: 0.5s;
    background-size: 200% auto;
              
    box-shadow: 0 0 10px var(--clr-main-white);
    border-radius: 16px;
    border-style: none;
    cursor: pointer;
    
}

.btn > a{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: var(--fw-bold);
    color: var(--clr-main-white);  
}

.icon {
    padding: 5px;      
}

.icon:focus-visible,
.icon:hover,
.btn:focus-visible,
.btn:hover{
    background-position: right center; 
    color: #fff;
    text-decoration: none;
} 

/* TITULOS */
.section-tittle{
    font-family: 'Fira Sans', sans-serif;
    font-weight: var(--fw-bold);
    font-size: 2.55rem;
    color: var(--clr-main-white);
    padding:0 0 4rem;
    
}
  
  
/* proyectS */
  
  
#proyects{
    text-align: center;
    background: linear-gradient(0deg, rgba(15,76,92,1) 0%, rgba(10,4,1,1) 100%);
    padding: 0 0.5rem;
    margin: 0 auto;
    padding-bottom: 4rem;
  
}
  
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    
    grid-gap: 2rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;   
}
  
.proyect{
    border-radius: 8px;
    box-shadow: 2px 1px 12px var(--clr-main-white);
    text-decoration:none;
    background-color: var(--clr-smooky-dark);
    background-image: linear-gradient(90deg, var(--clr-smooky-dark) 10%, var(--clr-orange-detail) 80%);
    background-size: 0% ;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 300ms ease;
}
  

    
  
.proyectImg{
    display:block;
    min-height: 300px;
    height: calc(100% - 3rem);
    max-height: 340px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    filter: grayscale(100%);
    transition: filter .3s ease-in-out; 
}
  

  
.proyect-tile{
    
    display:flex;
    justify-content: space-between;
    align-items:center;

    color:var(--clr-main-white);
    font-size:1rem;
    padding-left: 10%;

    
    border-radius: 8px;
}
  
.proyect-tile > span{
    /* Due to the border-left acting as a "buton display", 2 things appeared on the way 
    1) I setted up the height to match the as my grid's height'img { calc(100% image space - space for tile) } = border-left ready.
    2) The second problem was due to my the character '>' isn't so big as my paragraph amd align-items seem right but i had to manually set things up for the sweet spot :
            - font-size +20% size to appear same size
            - padding-bottom: 0.265rem + align center
    
    */
    height: 3rem;
    border-left: 2px solid var(--clr-main-white);
    
    display:flex;
    align-items:center;
    padding: 0 0.685rem 0.265rem;
    
    font-size: 120%;

    border-bottom-right-radius: 8px;
    
    background-color: var(--clr-smooky-dark);
    background-image: linear-gradient(270deg, var(--clr-red-ascent) 0%, var(--clr-orange-detail) 75%);
    
    background-size: 0% ;
    background-repeat: no-repeat;
    background-position: right;
    transition: background-size 300ms ease;
}
  

  
/* SOCIAL SECTION*/

.socials-section{
    background: linear-gradient(180deg, var(--clr-light-blue) 40%, var(--clr-smooky-dark) 100%);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100vh;
    color:var(--clr-main-white);
  }
  .socials-header{
    font-family: 'Fira Sans', sans-serif;
    margin-bottom:2.55rem;
    text-align:center;
  }
  .socials-header > h2 {
    font-weight:var(--fw-bold);
    font-size: 3rem;
  }
  .socials-header > span{
    margin-top:0.25rem;
    font-size:1rem;
  }
  
  .socials-links{
    display:flex;
    width:100%;
    justify-content:center;
    flex-wrap:wrap;
  }
  
  .media-link{
    font-size:1.35rem;
    text-decoration:none;
    color: var(--clr-main-white);
    padding: 0.5rem 0.3rem;
    margin:0.5rem 1rem;
    text-shadow: 2px 2px 4px var(--clr-smooky-dark);
    transition: transform .3s ease-out;
  }

.fas,.fab{
  padding-right: 0.4rem;
} 
  
  
/* MEDIA QUERIES */

/* MY HOVERS + FOCUS ORGANIZED (NOT ALL CAN I INCLUDE HERE, some stop responding in smartdevices and touchscreens)*/
@media (hover: hover){
  .proyect:focus,
  .proyect:hover{
    background-size:100%;
  }
  .proyect:focus img,
  .proyect:hover img { 
     filter: none;
  }
  .proyect:focus span,
  .proyect:hover span { 
    background-size:100%;
    border-left: 2px solid var(--clr-smooky-dark);
  }
  .media-link:focus,
  .media-link:hover{
    transform: translateY(-8px);
  }
  .proyect:hover .proyect-tile p{
      display: none;
      
  }

  .proyect:hover .proyect-tile::before{
    content: 'Check it out';
}
  
}
/* SMARTDEVICES, TOUCHSCREENS = DISABLE HOVER ANIMATIONS*/
@media (hover: none) and (pointer: coarse){
    
    .proyect {
        background-size:100%;
    }

    .proyect-tile > span{
        background-size:100%;

    }

    .proyectImg { 
        filter: none;
    }
  
  
}

@media screen and (max-width:500px){
    
    #welcome-section,
    #proyects,
    .socials-section{
        min-height: 100vh;
    }


    .navbar__container,
    .welcome-container{
        padding: 0;
    }
    
    .meDesc{
        padding: 0.45rem 1rem;
    }

    .meDesc > span{
        font-size: 1.5rem;
    }
    .meDesc > h1{
        font-size: 3rem;

    }

    .icon,
    .btn{
        margin-right: 15px;
        height: 50px;

    }

    .buttons > a:last-child > .icon{
        margin-right: 0;
    }

    .meFoto{
        width: 300px;
    }

    
}